.admin-container{
    display: flex;
   

}
.pro-sidebar {
    color: #adadad;
    height: 100vh;
    width: 270px;
    min-width: 270px;
    text-align: left;
    transition: width, left, right, 0.3s;
    position: relative;
    z-index: 1009;
}
.btn-view
{
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: #303030;
    color: white;
    &:hover{
        background-color: black;

    }
}
