.register-page {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.register-header span {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.register-header button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.register-header button:hover {
    background-color: #0056b3;
}

.register-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.register-subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.register-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    color: #555;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn-register {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-register button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-register button:hover {
    background-color: #333;
}

.text-content {
    margin-top: 20px;
    text-align: center;
}

.text-content span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.text-content span:hover {
    color: #0056b3;
}
.form-group {
    position: relative;
    margin-bottom: 15px; /* Điều chỉnh khoảng cách dưới của phần tử */
}

.password-container {
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%; /* Chiều rộng 100% */
    padding-right: 30px; /* Thêm padding phải để ngăn chặn văn bản bị chồng lên biểu tượng */
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng */
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888; /* Thay đổi màu sắc nếu cần */
}
